.one_main_one_one
{
    flex:1;
    display:flex;
    flex-direction:column;
    align-items:center;
border-top-left-radius: 40px;
border-bottom:0.5px solid rgb(99, 75, 75);
}




.bet_one
{
height:33px;
border-top-left-radius: 40px;

}

.bet_one p 
{
    margin-right:10px;
    margin-left:5px;
    color:aqua;
    font-family:Playwrite IN;
    margin-bottom:0px;
    margin-top:0px;
    cursor:default;

}

.bet_two
{
    background-color:  rgb(23, 18, 39);
height:33px;
display:flex;
flex-direction: rows;
align-items:center;
justify-content:center;

}

.bet_text
{

margin-left: 50px;
height:20px;
border-radius:4px;
padding:0px 0px 0px 2px;
border: 0px solid  rgb(23, 18, 39);
background-color:  rgb(255, 239, 184);

}

.bet_text::placeholder
{
    color: rgb(120, 90, 60);
}

.bet_text:focus 
{
border-bottom-width:0px;
border-top-width:0px;
border-right-width: 0px;
border-left-width:0px;
    outline:none;

}

.bet_text:focus::placeholder
{
color : rgb(255, 239, 184);

}

.bet_set
{
    font-family:arial;
    margin-right: 0px;;
    margin-left:4px;
    height:23px;
    border-radius:11.5px;
    background-color: rgb(255, 178, 102); /* Soft orange */
color: rgb(23, 18, 39); /* Dark text for readability */
box-shadow:0px 0px 0px black;
outline :0px;
}

.bet_set:active
{
    background-color: rgb(230, 145, 80); /* Warm burnt orange */
color: rgb(23, 18, 39);
    margin-right: 0px;;
margin-left:4px;
height:23px;
border-radius:11.5px;
}

#Error1 
{

    font-family: Permanent Marker;
color:aqua;
margin-left: 10px;
margin-top:4px;
margin-bottom:1px;
display:inline-block;

}

#Error1:hover
{

    cursor:default;
}


.bet_reset
{
    font-family:arial;
    margin-right: 0px;;
    margin-left:4px;
    height:23px;
    border-radius:11.5px;
    background-color: rgb(255, 178, 102); /* Soft orange */
color: rgb(23, 18, 39); /* Dark text for readability */
box-shadow:0px 0px 0px black;
outline :0px;
}

.bet_reset:active
{
    background-color: rgb(230, 145, 80); /* Warm burnt orange */
color: rgb(23, 18, 39);
    margin-right: 00px;;
margin-left:4px;
height:23px;
border-radius:11.5px;
}

.bet_reset:hover
{
cursor: pointer;
}