.one_main_two_one
{
    width:100%;
border-top-right-radius: 40px;
display:flex;
flex-direction: column;
justify-content: center;
flex:1;
background-color:  rgb(23, 18, 39);
border-bottom:0.5px solid rgb(99, 75, 75);
}


.one_main_two_one p{

    color:green;
    margin-left:45px;
    font-family: Shadows Into Light ;
    font-weight: bolder;
    font-size:35px;
    margin-top:0px;
    margin-bottom:0px;
    cursor:default;

    
    
    }

    




    /*===================================================*/
 